@{
    ViewData["Title"] = "Error";
}

<div class="error-container text-center vh-100">
    <h1 class="fw-bold text-danger pt-3">Error</h1>
    <h5 class="fst-italic text-secondary">Something went very wrong! Please try again.</h5>
</div>
