@{
    ViewData["Title"] = "Error";
}

<div class="text-center vh-100 d-flex align-items-center">
    <h1 class="fw-bold text-danger">Error</h1>
    <h5 class="fst-italic text-secondary">Something went wrong! Please try again.</h5>
</div>
