@{
    ViewData["Title"] = "Home Page";
}
<div>
    <!-- Background image -->
    <div class="homepage-image p-5 text-center bg-image d-flex justify-content-end">
        <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white text-end">
                    <h4 class="homepage-image-subheading mb-3">Forget the rules</h4>
                    <h1 class="homepage-image-heading mb-3 text-capitalize">Create your style</h1>
                    <button class="homepage-image-btn btn bg-light" asp-action="" asp-controller="">CHECK OUT PRODUCTS</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Background image -->

    <!-- Categories menu -->
    <div class="bg-light d-flex flex-column p-5 align-items-center">
        <h2 class="categories-menu-title text-center mb-3">Featured Categories</h2>
        <div class="d-flex flex-wrap">
            <div class="category-container d-flex flex-column justify-content-center align-items-center pt-3 m-3 bg-dark">
                <i class="fa-solid fa-shirt fa-xl"></i>
                <h5 class="pt-3">Shirt</h5>
            </div>
            <div class="category-container d-flex flex-column justify-content-center align-items-center pt-3 m-3 bg-dark">
                <i class="fa-solid fa-shirt fa-xl"></i>
                <h5 class="pt-3">Shirt</h5>
            </div>
            <div class="category-container d-flex flex-column justify-content-center align-items-center pt-3 m-3 bg-dark">
                <i class="fa-solid fa-shirt fa-xl"></i>
                <h5 class="pt-3">Shirt</h5>
            </div>
            <div class="category-container d-flex flex-column justify-content-center align-items-center pt-3 m-3 bg-dark">
                <i class="fa-solid fa-shirt fa-xl"></i>
                <h5 class="pt-3">Shirt</h5>
            </div>
            <div class="category-container d-flex flex-column justify-content-center align-items-center pt-3 m-3 bg-dark">
                <i class="fa-solid fa-shirt fa-xl"></i>
                <h5 class="pt-3">Shirt</h5>
            </div>
            <div class="category-container d-flex flex-column justify-content-center align-items-center pt-3 m-3 bg-dark">
                <i class="fa-solid fa-shirt fa-xl"></i>
                <h5 class="pt-3">Shirt</h5>
            </div>
            <div class="category-container d-flex flex-column justify-content-center align-items-center pt-3 m-3 bg-dark">
                <i class="fa-solid fa-shirt fa-xl"></i>
                <h5 class="pt-3">Shirt</h5>
            </div>
            <div class="category-container d-flex flex-column justify-content-center align-items-center pt-3 m-3 bg-dark">
                <i class="fa-solid fa-shirt fa-xl"></i>
                <h5 class="pt-3">Shirt</h5>
            </div>
        </div>
    </div>
    <!-- Categories menu -->

    <!-- Featured products -->
    <div class="bg-dark d-flex flex-column p-5 align-items-center">
        <h2 class="categories-menu-title text-center mb-3 text-white">Popular Products</h2>
        <div class="d-flex flex-wrap">
            <div class="product-container d-flex flex-column justify-content-center align-items-center pt-3 m-3 bg-light">
                <i class="fa-solid fa-shirt fa-xl"></i>
                <h5 class="pt-3">Shirt</h5>
            </div>
            <div class="product-container d-flex flex-column justify-content-center align-items-center pt-3 m-3 bg-light">
                <i class="fa-solid fa-shirt fa-xl"></i>
                <h5 class="pt-3">Shirt</h5>
            </div>
            <div class="product-container d-flex flex-column justify-content-center align-items-center pt-3 m-3 bg-light">
                <i class="fa-solid fa-shirt fa-xl"></i>
                <h5 class="pt-3">Shirt</h5>
            </div>
            <div class="product-container d-flex flex-column justify-content-center align-items-center pt-3 m-3 bg-light">
                <i class="fa-solid fa-shirt fa-xl"></i>
                <h5 class="pt-3">Shirt</h5>
            </div>
            <div class="product-container d-flex flex-column justify-content-center align-items-center pt-3 m-3 bg-light">
                <i class="fa-solid fa-shirt fa-xl"></i>
                <h5 class="pt-3">Shirt</h5>
            </div>
            <div class="product-container d-flex flex-column justify-content-center align-items-center pt-3 m-3 bg-light">
                <i class="fa-solid fa-shirt fa-xl"></i>
                <h5 class="pt-3">Shirt</h5>
            </div>
            <div class="product-container d-flex flex-column justify-content-center align-items-center pt-3 m-3 bg-light">
                <i class="fa-solid fa-shirt fa-xl"></i>
                <h5 class="pt-3">Shirt</h5>
            </div>
            <div class="product-container d-flex flex-column justify-content-center align-items-center pt-3 m-3 bg-light">
                <i class="fa-solid fa-shirt fa-xl"></i>
                <h5 class="pt-3">Shirt</h5>
            </div>
        </div>
    </div>
    <!-- Featured products -->

</div>