@{
    ViewData["Title"] = "Home Page";
}
<div>
    <!-- Background image -->
    <div class="homepage-image p-5 bg-image">
        <div class="container d-flex justify-content-end h-100">
            <div class="d-flex align-items-center">
                <div class="text-white text-end">
                    <h4 class="homepage-image-subheading mb-3">Forget the rules</h4>
                    <h1 class="homepage-image-heading mb-3 text-capitalize">Create your style</h1>
                    <button class="homepage-image-btn btn bg-light" asp-action="" asp-controller="">CHECK OUT PRODUCTS</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Background image -->

    <!-- Categories menu -->
    <div class="bg-light">
        <div class="container d-flex flex-column p-5 align-items-center">
            <h2 class="homepage-categories-menu-title text-center mb-3">Featured Categories</h2>
            <div class="d-flex flex-wrap">
                <div class="homepage-category-container d-flex flex-column justify-content-center align-items-center pt-3 m-3 bg-dark">
                    <i class="fa-solid fa-shirt fa-xl"></i>
                    <h5 class="pt-3">Shirt</h5>
                </div>
                <div class="homepage-category-container d-flex flex-column justify-content-center align-items-center pt-3 m-3 bg-dark">
                    <i class="fa-solid fa-shirt fa-xl"></i>
                    <h5 class="pt-3">Shirt</h5>
                </div>
                <div class="homepage-category-container d-flex flex-column justify-content-center align-items-center pt-3 m-3 bg-dark">
                    <i class="fa-solid fa-shirt fa-xl"></i>
                    <h5 class="pt-3">Shirt</h5>
                </div>
                <div class="homepage-category-container d-flex flex-column justify-content-center align-items-center pt-3 m-3 bg-dark">
                    <i class="fa-solid fa-shirt fa-xl"></i>
                    <h5 class="pt-3">Shirt</h5>
                </div>
                <div class="homepage-category-container d-flex flex-column justify-content-center align-items-center pt-3 m-3 bg-dark">
                    <i class="fa-solid fa-shirt fa-xl"></i>
                    <h5 class="pt-3">Shirt</h5>
                </div>
                <div class="homepage-category-container d-flex flex-column justify-content-center align-items-center pt-3 m-3 bg-dark">
                    <i class="fa-solid fa-shirt fa-xl"></i>
                    <h5 class="pt-3">Shirt</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Categories menu -->

    <!-- Featured products -->
    <div class="bg-dark">
        <div class="container py-5">
            <h2 class="categories-menu-title text-center mb-3 text-white">Popular Products</h2>
            <div class="d-flex flex-wrap justify-content-between">
                <div class="d-flex flex-column">
                    <div class="products-container text-center pb-2">
                        <img src="~/images/TestShirt.jpg" class="product-thumbnail img-thumbnail">
                        <h5 class="mt-2 text-white">Shirt</h5>
                        <p class="text-white-50">Shirt Description</p>
                        <button class="btn btn-light">Add to cart</button>
                    </div>
                </div>
                <div class="d-flex flex-column">
                    <div class="products-container text-center pb-2">
                        <img src="~/images/TestShirt.jpg" class="product-thumbnail img-thumbnail">
                        <h5 class="mt-2 text-white">Shirt</h5>
                        <p class="text-white-50">Shirt Description</p>
                        <button class="btn btn-light">Add to cart</button>
                    </div>
                </div>
                <div class="d-flex flex-column">
                    <div class="products-container text-center pb-2">
                        <img src="~/images/TestShirt.jpg" class="product-thumbnail img-thumbnail">
                        <h5 class="mt-2 text-white">Shirt</h5>
                        <p class="text-white-50">Shirt Description</p>
                        <button class="btn btn-light">Add to cart</button>
                    </div>
                </div>
                <div class="d-flex flex-column">
                    <div class="products-container text-center pb-2">
                        <img src="~/images/TestShirt.jpg" class="product-thumbnail img-thumbnail">
                        <h5 class="mt-2 text-white">Shirt</h5>
                        <p class="text-white-50">Shirt Description</p>
                        <button class="btn btn-light">Add to cart</button>
                    </div>
                </div>
                <div class="d-flex flex-column">
                    <div class="products-container text-center pb-2">
                        <img src="~/images/TestShirt.jpg" class="product-thumbnail img-thumbnail">
                        <h5 class="mt-2 text-white">Shirt</h5>
                        <p class="text-white-50">Shirt Description</p>
                        <button class="btn btn-light">Add to cart</button>
                    </div>
                </div>
                <div class="d-flex flex-column">
                    <div class="products-container text-center pb-2">
                        <img src="~/images/TestShirt.jpg" class="product-thumbnail img-thumbnail">
                        <h5 class="mt-2 text-white">Shirt</h5>
                        <p class="text-white-50">Shirt Description</p>
                        <button class="btn btn-light">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Featured products -->

</div>