<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ClothesShop.CustomerSite</title>

    <!-- Css import -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ClothesShop.CustomerSite.styles.css" />
    <link rel="stylesheet" href="~/css/Navbar.css" />
    <link rel="stylesheet" href="~/css/Homepage.css" />
    <link rel="stylesheet" href="~/css/Footer.css" />
    <link rel="stylesheet" href="~/css/Products.css" />
    <link rel="stylesheet" href="~/css/Cart.css" />
    <link rel="stylesheet" href="~/css/Error.css" />
    <!-- Css import -->

</head>
<body>

    <!-- Main -->
    @RenderBody()
    <!-- Main -->

    <!-- Footer -->
    <footer class="footer text-muted py-3 bg-light border-top">
        <div class="container">
            <h4 class="footer-heading">Amor Clothes Shop</h4>
            <p>Contact: 0123456789</p>
            <p>Address: 12/21 Moon Street, Sun District, Milky Way City</p>
        </div>
    </footer>
    <!-- Footer -->

    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/9a82700792.js" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <!-- Scripts -->

</body>
</html>
