.homepage-image {
    background-image: url('https://wallpapercave.com/wp/wp3130193.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

.homepage-image-heading {
    font-weight: 800;
}

.homepage-image-btn {
    font-weight: 700;
    transition: transform 0.5s;
}

.homepage-image-btn:hover {
    transform: scale(1.2);
}

.homepage-category-container {
    height: 130px;
    width: 130px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.homepage-category-container:hover {
    transform: scale(1.1);
}

.homepage-product-container {
    height: 130px;
    width: 130px;
    border-radius: 25px;
    color: black;
    cursor: pointer;
    transition: 0.5s;
}

.homepage-product-container:hover {
    transform: scale(1.1);
}