.navigation-bar-container {
    height: 4em
}

.navigation-bar-center {
    font-size: 18px;
    font-weight: 600
}

.navigation-bar-right {
    height: 4em
}

.navigation-user-icon, .navigation-cart-icon {
    color: white;
    line-height: 4em;
    vertical-align: middle
}