.navigation-bar-container {
    height: 4em
}

.navigation-bar-center {
    font-size: 18px;
    font-weight: 600
}

.navigation-bar-right {
    height: 4em
}

.navigation-icon-container {
    line-height: 4em;
    transition: 0.5s;
}

.navigation-icon-container:hover {
    cursor: pointer;
    background-color: gray;
    color: white;
}

.navigation-user-icon, .navigation-cart-icon, .navigation-user-icon:hover, .navigation-cart-icon:hover {
    color: white;
}