@model ClothesShop.SharedVMs.CategoryDto
@{
    ViewData["Title"] = "Create a Category";
}

<div class="container p-3">
    <div class="pt-4">
        <a asp-controller="Categories" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
    <div class="pt-4">
        <h2 class="text-primary">Add a Category</h2>
    </div>
    <form asp-action="Create" method="post">
        <div class="form-group">
            <label for="Name">Name:</label>
            <input class="form-control" name="Name" />
        </div>
        <div class="form-group">
            <label for="Description">Description:</label>
            <input class="form-control" name="Description" />
        </div>
        <div class="form-group">
            <label for="ProductQuantity">Product Count:</label>
            <input class="form-control" name="ProductQuantity" />
        </div>
        <div class="form-group text-center pt-4">
            <button type="submit" class="btn btn-primary">Add Category</button>
        </div>
    </form>
    <br />

    @if (Model != null)
    {
        <table class="table table-bordered table-striped" style="width: 100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Product Count</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="10%">@Model.Id</td>
                    <td width="20%">@Model.Name</td>
                    <td width="30%">@Model.Description</td>
                    <td>@Model.ProductQuantity</td>
                </tr>
            </tbody>
        </table>
    }
</div>

